/* Sets background image (flag), border color and thickness, and positioning for header and footer*/
header, footer{
background: url(../flag.jpeg);
padding: 0px;
border-color: black;
border: 3px solid;
}
/* Sets background color for the main part of the web page */
body{
  background-color: lightgray;
}

/* Center function which will center the image of Delvon*/
.center{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding:10px;
}

/* Sets font size and positon for all h1s*/
h1{
font-size: 50px;
padding:10px;
}

/* Sets font size, font, alignment, width and margins of all sections. Ensures the sections are centered*/
section{
  font-size: 15px;
  font-family: arial;
  text-align: justify;
  width:400px;
  margin:auto;
}

/* Sets text alignment and font for all headers (h1-h3)*/
h1,h2,h3{
  text-align: center;
  font-family: Copperplate;
}
